.listImage{
    background-repeat:no-repeat;
background-size:contain;
background-position:center;
}
/* putting 2 parag next to each other */
.wraperP{
    display: inline-block;
    width: 100%;
}
.paragL{
float: left;
}
.paragR{
float: right;
}
.filterSubtitle{
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    border-top: 1px solid;
}
.filterSubtitleFirst{
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}